* {
    margin:0;
    padding: 0;
}


html, body, .Mwrap, .panel{
    height: 100%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
}

.Mwrap{
    width: 600% !important;
    display: flex;
    flex-wrap: nowrap;
}
.panel{
    width: 16.8%;
    display: flex;
    flex-direction: column;
}
.panel1{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  body {
    background: #464646;
  }
  #mouse-scroll {
    style: block;
  }
  #mouse-scroll {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 70%;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
  }
  #mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid #fff; 
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
      -moz-animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s; 
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #ffffff;
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .waves {
    position:absolute;
    bottom: 0;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: rgb(255, 255, 255);
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

.panel2{
    background-color: black;
    color: white;
}

.panel3{
    background-color: black;
    color: white;
}

.panel4{
    background-color: black;
    color: white;
}

  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
  }
.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
}
@keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
}
  
  .cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }
.intro{
    display: flex;
    flex-direction: column;
    color: rgb(239, 65, 201);
    margin-top: 30px;
    margin-left: 1%;
}
.name{
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.3s ease;
    font-size: calc(12px + 3.8vw);
}
.name .letter {
    display:inline-block;
    line-height: 1em;
}
.post{
    letter-spacing: 0.1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(9px + 2vw);
}
.social{
    display: flex;
    margin-left: 3%;
}
.social-img {
    display: flex;
    position: relative;
    width:26px;
    height: 26px;
    padding: 12px;
}
.social-img img{
    filter: grayscale();
    transition: filter 0.4s ease-in-out;
}
.social-img img:hover{
    filter: none;
    transform: translateY(0) scale(2.0);
}


@media (max-width: 600px) {
    
}
@media (max-width: 768px) {
    .intro{
        margin-left: 2%;
        margin-top: 20%;
    }  
    .social{
        margin-left: 35%;
        margin-top: 75px;
    }

}
@media (max-width: 1200px) {
    .social-img img:hover{
        transform: none;
    }
    .social-img {
        padding: 8px;
    }
}